env
env.*
.env
.env-*
.env.*
dist/
coverage/
npm-debug.log
node_modules/
.DS_Store
*.log
Dockerfile
build.styx/docker-base/package.json
build.styx/docker-base/yarn.lock
ci-coverage-output.txt
.eslintcache

Dockerfile
build.styx/docker-base/*
!build.styx/docker-base/build.sh
!build.styx/docker-base/Dockerfile.template
!build.styx/docker-base/Dockerfile.deps

.idea/
.vscode/
